@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
header img{
    width:268px;
    height:33;
}

header{
    background-color: #fff;
    height: 2.2cm;
    display: flex;
    width:100%;
    align-items: center;
    justify-content:space-around;
    position: sticky ;
    z-index: 999;
    top: -10px;
    box-shadow: 0 -6px 10px 5px rgba(0,0,0,0.5);
     
}
header div{
    display: flex;
}
header div ul{
    
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
header div li{
    
    float: left;
    margin:12px;
}
header div li a{ 
    color: #747474;
    font-weight: 100;
}
#diftag{
   color: #00b39b;
}

#first{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;
    height: 6cm;
    
}
#first p{
    
    font-size:  3.5rem;
    color:#00b39b;
    margin: 1em 0;
    font-family: 'Roboto,Arial,sans-serif';
    font-style: normal;
    font-weight:100;
    letter-spacing: 0.6px;
}
#twop{
    display: flex;
    width:100%;
    justify-content: center;
    gap: 2.2rem;
}
p{
    color:#747474;
    font-size: smaller;
}
#twop div{
    width:35%;
    font-size: 1.7rem;
    font-weight: 400;
    
    
}
#threebox{
    margin-top: 2cm;
    display: flex;
    justify-content: center;
    gap: 2.5rem;
    
}

#threebox div {
    height: 345px;
    padding: 1.375em 1.25em 0;
    display: block;
    width: 23%;
    border-radius: 10px;
}
#threebox img{
    margin-top: 0.5cm;
}
#threebox div h1{
    font-size: 1.625em;
    font-weight: 400;
    color: #fff;
    margin: 0.3em 0;
    margin-top: 0.5cm;
}
#threebox div h2{

    font-size: 2em;
    font-weight: 300;
    line-height: 1.2;
    margin: 0;
    color: #fff;
    margin-top: 0.2cm;
    font-family:'Roboto,Arial,sans-serif';
}
#threebox div select{
    font-size:20px;
    margin-top: 2cm;
    background: transparent;
    border: 0;
    border-radius: 0;
    outline: 0;
    text-transform: none;
    text-decoration: underline;
    cursor: pointer;
    color: #fff;
}
#threebox div select option{
color: black;
}

#fbox{
    background-color: #00ccb1;
}
#fbox:hover{
    background-color: #03e9ca;
}
#sbox{
    background-color: #3d83df;
}
#sbox:hover{
    background-color: #4592f7;
}
#tbox{
    background-color: #1b2734;
}
#tbox:hover{
    background-color: #223242;
}
#tbox div select{
    margin-top: 0.5cm;
    
}
#midsection{
    margin-top: 1.5cm;
    display: flex;
    width: 100%;
    height: 2.6cm;
    gap:2.82cm;
    
    justify-content: center ;
}

#midsection h1{
    float: left;
    font-size: 2.05em;
    margin: 0.25em 0 0.35em;
    padding-right: 1em;
    color: #00b39b;

}
#midsection div{
    width:46%;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    
}
#midsection div a{
    font-size: 20px;
}
.greenarea{
    margin-top: 4cm;
    width: 100%;
    display: flex;
    justify-content: center;
    background: #d0faf4;
    height: 15.47cm;
}
.greenarea .firstga{
    margin-top: 1cm;
    width:30;
}
.greenarea .firstga p{
    margin-top: 1cm;
}

.fourboxes{
    display:flex;
}
.firstga{
    margin-right: 2cm;
}
.firstga img{
   margin-top: 0.95cm;
    padding-bottom: 0;
    margin-bottom: 0;
}
.subfb{
    display: flex;
    flex-direction: column;
}
.subfb div{
    height: 6.75cm;
    width: 6cm;
    background-color: #fff;
    text-align: center;
    margin: 0.3cm;
    padding: 0.4cm;
    border-radius: 6px;
}

.fourboxes img{
    width: 1.15cm;
    height: 1.15cm;
}
#extramargin{
    margin-top: 0.8cm;
}

.greenarea h1,h3{
    color:#00b39b;
}

.openings{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5cm;   
    margin-top: 1.5cm;
    justify-content: center;
    
}

.openings div{
    border-radius:3%;
    margin: 0.44%;
}
.openings div:hover{
    box-shadow: 0 -6px 10px 5px rgba(0,0,0,0.1);
}
.buttons{
    margin-top: 0.5cm;
    display:flex;
    gap:2cm;
    justify-content: center ;
}
.buttons p{
    font-size: medium;
}
.buttons button{
    background: #3d83df;
    font-family: 'Roboto,Arial,sans-serif';
    line-height: 1em;
    color: #fff;
    font-weight: 700;
    letter-spacing: .04em;
    text-align: center;
    outline: 0;
    border: 0;
    border-radius: 4px;
    font-size: 1rem;
    padding: 1em 1.5em;
}

#midtitle{
    width: 100%;
    text-align: center;
    margin-top: 2cm;
}

#midtitle h1{
    color:#00b39b;
    margin-bottom: 1cm;
}
#lastdiv{
    margin-top: 2.4cm;
    margin-bottom: 2.4cm;
    text-align: center;
    width: 100%;
    font-size: 35px;
}
#lastdiv button{
    background: #3d83df;
    font-family: 'Roboto,Arial,sans-serif';
    line-height: 1em;
    color: #fff;
    font-weight: 700;
    letter-spacing: .04em;
    text-align: center;
    outline: 0;
    border: 0;
    border-radius: 4px;
    font-size: 1.2rem;
    padding: 1em 1.5em;
}
footer{
    text-align: center;
    width: 100%;
    padding: 1cm;
    box-shadow: 0 -6px 10px 5px rgba(0,0,0,0.02);
}
